<!doctype html>
<html lang="{{ request.locale.iso_code }}" class="as-root">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">
    <title>{{ page_title }}</title>
    {{ 'archives.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>
  <body class="template-password">
    <main id="MainContent" role="main">
      {{ content_for_layout }}
    </main>
  </body>
</html>
